@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #222;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease;
}

body {
  width: 100%;
}
/* HOME PAGE */
/* Navbar Style */
.logo {
  height: 100px;
  width: 100px;
}
.flogo {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(213, 127, 54);
  box-shadow: 0 5px 15px rgba(26, 33, 48, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: white;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* Navbar end */
#hero {
  background-image: url("./Asset/Hero/hero4.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 90% right 0%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
#hero h4 {
  padding-bottom: 15px;
  color: rgb(255, 125, 41);
}

#hero h1 {
  color: brown;
}

#hero button {
  background-image: url(./Asset/button.png);
  background-color: transparent;
  padding: 14px 80px 14px 65px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Feature Style */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(104, 109, 118, 0.4);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(104, 109, 118, 0.1);
  transition: 0.3s ease;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: black;
  background-color: rgb(252, 220, 148);
}
#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(90, 114, 160);
}
#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(255, 101, 0);
}
#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(92, 136, 196);
}
#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(109, 197, 209);
}
#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(255, 219, 92);
}

/* Featured Product Style */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 25%;
  min-width: 250px;
  padding: 10px 50px;
  margin: 15px 15px;
  border: 1px solid rgba(213, 127, 54, 0.06);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(104, 109, 118, 0.4);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;
}

#product1 .pro img {
  width: 100%;
  border-radius: 10px;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(104, 109, 118, 0.6);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: rgb(104, 109, 118);
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: rgb(104, 109, 118);
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 16px;
  color: rgb(255, 125, 41);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(213, 127, 54);
}
#product1 .pro #cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(181, 192, 208);
  color: rgb(213, 127, 54);
  border: 1px solid rgb(104, 109, 118);
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 16px;
}

/* Banner style */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url(/Asset/Banner/393733343.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: white;
  font-size: 16px;
}
#banner h2 {
  color: white;
  font-size: 40px;
  padding: 10px 0;
}
#banner h2 span {
  color: orange;
}

.normal:hover {
  background-color: rgb(181, 193, 142);
}
/* Big Banner Style */
#sm-banner .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(/Asset/Banner/sub\ banner.jpg);
  min-width: 750px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url(Asset/Banner/sub\ banner\ 2.jpg);
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner h4 {
  color: rgb(172, 215, 147);
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: white;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}

#sm-banner span {
  color: white;
  stroke: #465b52;
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: rgb(98, 149, 162);
  border: 1px solid rgb(83, 131, 146);
}
/* Small Banner Style */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(Asset/Banner/sb1.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}
#banner3 .banner-box2 {
  background-image: url(Asset/Banner/sb2.jpg);
}
#banner3 .banner-box3 {
  background-image: url(Asset/Banner/sb3.jpg);
}
#banner3 h2 {
  color: rgb(239, 156, 102);
  font-size: 22px;
  font-weight: 900;
}

#banner3 h3 {
  color: white;
  font-size: 15px;
  font-weight: 800;
}
/* Newsletter style */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(Asset/Banner/banner.png);
  background-position: 20% 30%;
  background-color: rgb(120, 171, 168);
}
#newsletter h4 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(104, 109, 118);
}

#newsletter p span {
  color: red;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: rgb(213, 127, 54);
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* Footer style */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: rgb(104, 109, 118);
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid rgb(128, 185, 173);
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: rgb(83, 131, 146);
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop Page */
#page-header {
  background-image: url(Asset/header/headerpage.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: rgb(89, 51, 28);
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* sproduct details style */
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 50px;
  padding-left: 50px;
}
#prodetails .single-pro-details h6 {
  font-size: 25px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
  font-size: 50px;
}
#prodetails .single-pro-details h2 {
  font-size: 40px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: rgb(213, 127, 54);
  transition: 0.4s ease;
}
#prodetails .single-pro-details button:hover {
  background-color: rgb(118, 56, 31);
  color: white;
}
#prodetails .single-pro-detail span {
  line-height: 50px;
  text-align: justify;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#prodetails .single-pro-image img {
  height: auto;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
/* Media query */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(85, 173, 155);
    box-shadow: 0 40px 60px rgba(104, 109, 118, 0.6);
    padding: 80px 0 0 10px;
    transition: 0.4s ease-in-out;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 35px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: rgb(55, 58, 64);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 20px;
    left: 250px;
    color: rgb(104, 109, 118);
    font-size: 30px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
    display: flex;
    text-align: right;
  }
  #feature {
    justify-content: center;
    flex-wrap: wrap;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin: 15px;
  }
  #banner3 {
    padding: 0 55px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #newsletter .form {
    width: 70%;
  }
  .flogo {
    margin: 0;
  }

  #page-header {
    height: 40vh;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h2 {
    font-size: 32px;
  }
  #hero h1 {
    font-size: 38px;
  }
  #hero {
    height: 70vh;
    background-position: 55%;
    padding: 0 20px;
    display: flex;
    text-align: right;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 70vh;
  }
  #sm-banner .banner-box {
    height: 50vh;
    min-width: 75%;
  }
  #sm-banner span {
    padding-bottom: 5px;
  }
  #banner3 {
    padding: 35px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
  /* Single product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
}
